@charset "UTF-8";

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

body {
  color: #000;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}


.header {
  position: fixed;
  display: inline-block;
  width: 100%;
  z-index: 30;
}
.header .logo{
  float: left;
}

/* hambuger_menu */
.header .ham_menu{
  background: red;
  float: right;
  height: 60px;
  width: 60px;
}

.warp {
  position: relative;
}

.section .row {
  background: pink;
  border: 1px solid red;
  box-sizing: border-box;
  height: 100vh;
  position: relative;
  width: 100vw;
}

.section .row .content_inner{
  padding: 60px 30px;
  background: blue;
}

/* swiper */
.swiper-container{
  height: 100%;
  width: 100%;
}
.swiper-slide{
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}
