@charset "UTF-8";

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

body {
  color: #000;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.header {
  position: fixed;
  display: inline-block;
  min-width: 500px;
  width: 100%;
  z-index: 30;
}
.header .logo{
  float: left;
  margin-left: 60px;
  margin-top: 30px;
}

/* hambuger_menu */
  .ham_menu{
  position: relative;
  background: red;
  float: right;
  margin-right: 60px;
  margin-top: 30px;
  height: 60px;
  width: 60px;
}
.ham_menu .ham_inner{
  position: relative;
}

.warp {
  position: relative;
}

.section .row {
  padding: 120px 60px 0;
  box-sizing: border-box;
  height: 100vh;
  position: relative;
  width: 100vw;
}

.section .row .content_inner{
  background: #f1f1f1;
  min-height: 55rem;
  min-width: 380px;
  width: 100%;
}

/* main title Text */
.txtBox{
  position: relative;
}
.mainSecTit{
  position: absolute;
  top: 100px;
}

.textAni{
  position: relative;
  display: block;
  font-size: 60px;
  line-height: 30px;
  min-width: 800px;
}

/* footer */
.footer{
  position: fixed;
  z-index: 30;
  text-align: center;
  height: 80px;
  border-top: 1px solid #f1f1f1;
  left: 0;
  right: 0;
  bottom:0;
}


/* swiper */
.swiper-container{
  height: 100%;
  width: 100%;
}
.swiper-slide{
  align-items: center;
  display: flex;
  justify-content: center;
}
