@charset "UTF-8";
*{margin: 0px; padding: 0px;}
a{text-decoration: none;}
ul,li{list-style: none;}
body{
  width: 100%;
  font-size: 18px;
}


/* 햄버거 메뉴  */
.ham_menu{
  position: absolute;
  float: right;
  right: 0;
}
.ham_menu span{
  position: relative;
  display: block;
  width: 30px;
  height: 3px;
  margin: 5px;
  background: black;
}
footer{
  display: flex;
  margin-bottom: auto;
}
/* header style */
